<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head') %>
    <script src="/js/student-teacherReq.js"></script>
</head>
<body class="container">
    <header>
        <%- include('../../partials/studentHeader') %>
    </header>
    <main>
        <h1>Ai aplicat cu succes pentru: <%= request.topic.title %></h1>
        <p>Descriere: <%= request.topic.description %></p>
        <p>Locuri disponibile: <%= request.topic.slots %></p>
        <p>Cuvinte cheie: <%= request.topic.keywords %></p>
        <p>Tip: <%= request.topic.education_level %></p>
        <p>Profesor: <%= request.teacher.name %></p>
        <p>Email profesor: <%= request.teacher.email %></p>
        <p>Mesaj catre profesor: <%= request.student_message %></p>
        <p>Raspuns: <%= request.teacher_message %></p>
        <button type="button" class="btn btn-danger deleteBtn" data-id="<%= request.id %>">
            Sterge
        </button>
    </main>
    <footer class="footer bg-light text-center text-lg-start">
        <%- include('../../partials/footer') %>
    </footer>
</body>
</html>
