<html lang="en">
<head>
    <%- include('../../partials/head') %>
</head>
<body class="container">
    <header>
        <%- include('../../partials/teacherHeader') %>
        <script src="/js/teacher-studentRes.js"></script>
    </header>
    
    <main class="container">
        <h2>Cerere de student</h2>
        <p>Topic cerut: <%= studentRequest.topic.title %></p>
        <p>Nume: <%= studentRequest.student.name %></p>
        <p>Email: <%= studentRequest.student.email %></p>
        <p>Mesaj de la student : <%= studentRequest.student_message %></p>
        <% if(studentRequest.teacher_message) { %>
            <p class="card-text">Raspunsul tau: <%= studentRequest.teacher_message %></p>
        <% } %>        
        <p>Status: <%= studentRequest.status %></p>                          

        <% if(studentRequest.status === 'pending') { %>
            <button type="button" class="btn btn-primary acceptBtn" data-id="<%= studentRequest.id %>">
                Accepta
            </button> 
            <button type="button" class="btn btn-danger rejectBtn" data-id="<%= studentRequest.id %>">
                Respinge
            </button>
        <% } else if(studentRequest.status === 'accepted') { %>
            <p>Student acceptat. Vrei sa-l respingi totusi?</p>
            <button type="button" class="btn btn-danger rejectBtn" data-id="<%= studentRequest.id %>">
                Respinge
            </button>
        <% } else {%>
            <p>Student respins. Vrei sa-l accepti totusi?</p>
            <button type="button" class="btn btn-primary acceptBtn" data-id="<%= studentRequest.id %>">
                Accepta
            </button>
        <% } %>

    </main>

    <div class="modal fade" id="resMessageModal" tabindex="-1" aria-labelledby="resMessageModalLabel" aria="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="resMessageModalLabel">Raspuns aplicare student</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h6 id="modalMsg"></h6>
                    <form action="/teacher/student-request/response/<%= studentRequest.id %>" method="put" id="resTopicForm">
                        <div class="mb-3">
                            <label for="message" class="form-label">Mesaj</label>
                            <textarea class="form-control"  name="message" rows="3"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ãnchide</button>
                            <button type="submit" class="btn btn-primary">Trimite</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer bg-light text-center text-lg-start">
        <%- include('../../partials/footer') %>
    </footer>
</body>
</html>
