<html lang="en">
<head>
    <%- include('../../partials/head') %>
    <script src="/js/searchFilter.js"></script>
</head>
<body class="container">
    <header>
        <%- include('../../partials/teacherHeader') %>
    </header>
    <main class="flex-grow-1">
        <div class="filterDiv">
        <select class="form-select" aria-label="Default select example" id="reqFilter">
            <option selected>Filtreaza cererile dupa</option>
            <option value="pending">Fara raspuns</option>
            <option value="accepted">Acceptate</option>
            <option value="rejected">Respinse</option>
            <option value="all">Toate</option>
          </select>
        </div>
        <div class="container requestsContainer">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
                <% studentRequests.forEach(function(studentRequest) { %>
                    <div class="col" data-status="<%=studentRequest.status%>">
                        <a href="/teacher/student-request/<%=studentRequest.id%>" class="text-decoration-none text-dark">
                            <div class="card">
                                <img src="<%= studentRequest.student.faculty.img_url %>" class="card-img-top" alt="">
                                <div class="card-body">
                                    <h5 class="card-title">Student: <%= studentRequest.student.name %></h5>
                                    <p class="card-text">Topic cerut: <%= studentRequest.topic.title %> </p>
                                    <p class="card-text">Email: <%= studentRequest.student.email %></p>
                                    <p class="card-text">Mesaj de la student: <%= truncateText(studentRequest.student_message,40) %></p>
                                    <% if(studentRequest.teacher_message) { %>
                                        <p class="card-text">Raspunsul tau: <%= truncateText(studentRequest.teacher_message,40) %></p>
                                    <% } %>
                                    <p class="card-text">Status: <%= studentRequest.status %></p>                          
                                </div>
                            </div>
                        
                        <div class="card-footer d-flex justify-content-between">
                            <button type="button" class="btn detailsBtn" data-id="<%= studentRequest.id %>">
                                Detalii
                            </button> 
                        </div>
                    </a>
                    </div>
                <% }); %>
            </div>
        </div>
    </main>

    <footer class="footer bg-light text-center text-lg-start">
        <%- include('../../partials/footer') %>
    </footer>
</body>
</html>
